footer {
    color: white;
    background-color: #181818;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    font-family: 'Prata', serif;
    padding: 20px 0;
}

footer p {
    text-align: center;
    font-size: 24px;
    padding: 22px 0;
}

.footer-diritti {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    max-width: 88%;
    align-self: center;
    padding-top: 40px;
    font-weight: 100;
}

.footer-diritti>span {
    font-weight: 800;
}

footer>img {
    width: 100%;
    max-width: 240px;
    align-self: center;
    padding: 25px 0 10px 0;
}

footer p a {
    text-decoration: none;
    color: white;
}

footer p a:hover {
    color: #81BBC6;
    opacity: 0.8;
}

footer ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 50px;
}

footer ul>li {
    list-style: none;
    width: 25%;
    display: flex;
    justify-content: center;
}

footer ul>li>a {
    align-self: center;
}

footer ul>li>a:hover{
    opacity: 0.7;
}

footer ul>li>a>img {
    width: 40px;
    color: white;
}

@media (min-width: 700px) {

footer ul{
    align-self: center;
}
footer ul>li{
    margin: auto 5rem 2rem ;
}

}