*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.topbar {
    position: fixed;
    width: 100%;
    display: flex;
    z-index: 99;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}
.topbar *{
    width: 30px;
}
.logo {
    width: 50px;
}
.logo:hover {
    opacity: 1;
}
.longbar{
    width: 35px;
    height: 3px;
    background-color: #fff;
    margin: 6px 0;
    transition: 0.5s;
}
.shortbar{
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 6px 0;
    transition: 0.5s;
}
.longbaractive{
    transition: 0.5s;
    transform: rotate(-45deg) translate(-8px, 5px) ;
    transform-origin: center;
}
.shortbaractive{
    width: 35px;
    transition: 0.5s;
    transform: rotate(45deg) ;
}
.menu {
    width: 100vw;
    height: 100vh;
    background-color: red;
    position: absolute;
    top: 0;
    left: -100vw;
    z-index: 1;
    padding: 5rem 3rem;
    transition: 0.5s;
}
.menuactive{
    left:0;
    transition: 0.5s;
}
.ricerca:hover, .menu_icon:hover .shortbar, .menu_icon:hover .longbar {
    opacity: 0.7;
}

.menu_icon {
    z-index: 99;
    position: relative;
}


@media(min-width:1000px){
    .menu{
        width: 50vw;
    }
}