*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.topbar {
    position: fixed;
    width: 100%;
    display: flex;
    z-index: 99;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}
.topbar *{
    width: 30px;
}
.logo {
    width: 50px;
}
.longbar{
    width: 35px;
    height: 3px;
    background-color: #fff;
    margin: 6px 0;
    transition: 0.5s;
}
.shortbar{
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 6px 0;
    transition: 0.5s;
}
.menu_icon:hover .longbar{
    transition: 0.5s;
    transform: rotate(-45deg) translate(0px, -2px) ;
    transform-origin: center;
}
.menu_icon:hover .shortbar{
    width: 35px;
    transition: 0.5s;
    transform: rotate(45deg) translate(-8px, -8px) ;
}