/* Homepage header */
body {
    box-sizing: border-box;
}

.header_home {
    background-color: #0f8b8d;
    height: 100vh;
    width: 95vw;
    position: relative;
    font-size: 16px;
    font-family: 'Prata', serif;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    overflow: hidden;
    right: 0;
    position: absolute;
    border-left: 5vw solid #0f8b8d;
    box-sizing: unset;
}
.container_home {
    height: 100vh;
    position: relative;
}
.container_text_header{
    transform: rotate(-90deg);
    font-size: 5em;
    width: 50%;
    margin-bottom: 6rem;
    
}
.spazi{
    position: relative;
    margin-left: 2rem;
}
.spazi p {
    position: relative;
    z-index: 1;
}
.sostenibili{
    position: relative;
    color: white;
    margin-top: -3.3rem;
    z-index: 2;
}
.box_text_header{
    height: 80px;
    width: 180px;
    background-color:#f47878;
    position: absolute;
    bottom: 0;
    left: 65px;
    z-index: 0;
}
#bosco1 {
    /* position: absolute; */
    right: -150px;
    bottom: 0px;
    width: 400px;
}
#bosco2{
    display: none;
    width: 500px;
}

/* Vertical media queries for home header */

@media(max-height: 700px){
    .container_text_header{
        transform: rotate(-90deg) scale(0.7);
        margin-bottom: 2rem;
    }
    #bosco1{
        margin-bottom: -120px;
        margin-left: -30px;
    }
}

/* Horizontal media queries for home header */

@media(min-width:700px){
    .header_home{
        align-items: bottom;
        justify-content: space-around;
    }
    .container_text_header {
        transform: rotate(0deg);
        transform-origin: right;
        margin-bottom: 40vh;
        margin-left: 3.5rem;
    }
    .header_home img {
        /* position: absolute; */
        bottom: 0;
    }
}
@media (min-width:1000px){
    .header_home{
        justify-content: flex-start;
    }
    #bosco2{
        display: block;
    }
    .container_text_header{
        margin-left: 0;
    }
}


/* Archive */
#archive {
    background-color:#050D12;
    height: auto;
    display: flex;
    flex-direction: column;
}

#archive h3 {
    color: white;
    font-family: 'Prata', helvetica;
    font-size: 40px;
    font-weight: normal;
    padding: 35px 0 0 35px;
    position: relative;
    z-index: 1;
}

#archive h3 div {
    width: 60px;
    height: 70px;
    background-color: #0F8B8D;
    z-index: -1;
    position: absolute;
    top: 50px;
    border-radius: 7px;
}

#archive article {
    align-self: center;
    margin-top: 80px;
    width: 92%;
    height: 180px;
    overflow: hidden;
    border-radius: 7px;
    display: grid;
    grid-template-columns: 7fr 11fr 1fr;
    grid-template-rows: 1fr 4fr;
    background-color: #0A171F;
    box-shadow: 
    inset   0 -3em 3em rgba(0,0,0,0.1), 
            0.5em 0.5em 1em rgba(0,0,0,0.3);
}

#archive .img-article {
    grid-column: 1 / 2;
    grid-row: 1/3;
    max-height: 100%;
    width: auto;
    overflow: hidden;
    justify-self: end;
    margin-right: 15px;
}

#archive .title-article {
    grid-column: 2 / 3;
    grid-row: 1/2;
    color: white;
    margin: auto;
    padding-top: 18px;
    font-family: 'Montserrat', sans-serif;
    color: #0F8B8D;
    font-weight: 800;
    font-size: 18px;
}

#archive .preview-article {
    grid-column: 2 / 3;
    grid-row: 2/3;
    color: white;
    margin: auto;
    padding-bottom: 18px;
    font-size: 13px;
    font-family: 'Montserrat' , 'Open Sans', sans-serif;
}

.chevron-right {
    grid-row: 2/3;
    width: 15px;
    margin: auto;
}

/* Gallery posts */

.gallery_item_1{
    grid-area: prima;
}

.gallery_item_2{
    grid-area: seconda;
}

.gallery_item_3{
    grid-area: terza;
}

.gallery_item_4{
    grid-area: quarta;
}

.gallery_item_5{
    grid-area: quinta;
}

.gallery_posts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:" prima  seconda "
                        "terza terza "
                        "quarta quinta";
    grid-gap: 1rem;
    max-width: 100%;
    padding: 10%;
    margin: auto;
}
.gallery_img {
    object-fit: cover;
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
}
.gallery_cover {
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #123C4C;
    z-index: 2;
    opacity: 0.5;
}
.figcaption {
    color: white;
    z-index: 3;
    position: absolute;
    bottom:10%;
    right:5%;
    font-size: 2rem;
    text-align: right;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    margin-left: 10%;
}

.gallery_item {
    width: 100%;
    background-color: #f47878;
    height: 0;
    padding-top: 100%;
    position: relative;
}

@media(min-width:700px){
    .gallery_posts {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas:" prima prima seconda seconda terza terza"
                            "quarta quarta quarta quinta quinta quinta";
    }
}

@media(min-width:1000px){
    .gallery_posts {
        grid-template-columns: 1fr 1fr 1fr  1fr 1fr ;
        grid-template-areas:" prima seconda terza quarta quinta";
        padding: 1rem;
        max-width: 90%;
    }
    .figcaption {
        font-size: 1.5rem;
    }
}
