/* Homepage header */
body {
    box-sizing: border-box;
}

.header_home {
    background-color: #0f8b8d;
    height: 100vh;
    width: 95vw;
    position: relative;
    font-size: 16px;
    font-family: 'Prata', serif;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    overflow: hidden;
    right: 0;
    position: absolute;
    border-left: 5vw solid #0f8b8d;
    box-sizing: unset;
}
.container_home {
    height: 100vh;
    position: relative;
}
.container_text_header{
    transform: rotate(-90deg);
    font-size: 5em;
    width: 50%;
    margin-bottom: 6rem;
    
}
.spazi{
    position: relative;
    margin-left: 2rem;
}
.spazi p {
    position: relative;
    z-index: 1;
}
.sostenibili{
    position: relative;
    color: white;
    margin-top: -3.3rem;
    z-index: 2;
}
.box_text_header{
    height: 80px;
    width: 180px;
    background-color:#f47878;
    position: absolute;
    bottom: 0;
    left: 65px;
    z-index: 0;
}
#bosco1 {
    /* position: absolute; */
    right: -150px;
    bottom: 0px;
    width: 400px;
}
#bosco2{
    display: none;
    width: 500px;
}

/* Vertical media queries for home header */

@media(max-height: 700px){
    .container_text_header{
        transform: rotate(-90deg) scale(0.7);
        margin-bottom: 2rem;
    }
    #bosco1{
        margin-bottom: -120px;
        margin-left: -30px;
    }
}

/* Horizontal media queries for home header */

@media(min-width:700px){
    .header_home{
        align-items: bottom;
        justify-content: space-around;
    }
    .container_text_header {
        transform: rotate(0deg);
        transform-origin: right;
        margin-bottom: 40vh;
        margin-left: 3.5rem;
    }
    .header_home img {
        /* position: absolute; */
        bottom: 0;
    }
}
@media (min-width:1000px){
    .header_home{
        justify-content: flex-start;
    }
    #bosco2{
        display: block;
    }
    .container_text_header{
        margin-left: 0;
    }
}

/* Latest */
.gallery {
    border: 2px solid red;
    width: 100%;
}



/* Archive */
#archive {
    background-color: #0A171F;
    height: 900px;
    display: flex;
    flex-direction: column;
}

#archive h3 {
    color: white;
    font-family: 'Prata', helvetica;
    font-size: 40px;
    font-weight: normal;
    padding: 35px 0 0 35px;
    position: relative;
    z-index: 1;
}

#archive h3 div {
    width: 60px;
    height: 70px;
    background-color: #0F8B8D;
    z-index: -1;
    position: absolute;
    top: 50px;
}

#archive article {
    align-self: center;
    margin-top: 80px;
    width: 92%;
    height: 20%;
    overflow: hidden;
    border-radius: 7px;
    display: grid;
    grid-template-columns: 7fr 11fr 1fr;
    grid-template-rows: 1fr 4fr;
    background-color: #123C4C;
    grid-gap: 18px 15px;
}

#archive .img-article {
    grid-column: 1 / 2;
    grid-row: 1/3;
    max-height: 100%;
    width: auto;
    overflow: hidden;
    justify-self: end;
}

#archive .title-article {
    grid-column: 2 / 3;
    grid-row: 1/2;
    color: white;
    margin: auto;
    padding-top: 18px;
}

#archive .preview-article {
    grid-column: 2 / 3;
    grid-row: 2/3;
    color: white;
    margin: auto;
    padding-bottom: 18px;
    font-size: 15px;
}

